{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}



  <div class="container my-5 py-5 z-depth-1 font_custom card">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-dark font_custom">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold font_custom text-secondary">About Celtic Surf School</h3>

          <p class="text-dark font_custom"> <br> 
            Hello Surfers,  <br>
 <br>
 

 <br>

 

The Atlantic Ocean is where I spend majority of my time and where I feel most comfortable, so I chose to work in there too! My name is Kealan Murphy and welcome to Celtic Surf School. My aim for Celtic Surf School, is to share my love for surfing with you and ignite the same passion in others. 


 
 <br> <br>
 I always dreamed of surfing and loved the idea of it. Just like you do, if you are reading this. I remember my first lesson in Lahinch, and didnt stop talking about it for a year or 3 (as a kid). I was obsessed. I didn’t grow up beside the sea, so I used skateboards to re-enact imaginary surfing techniques on tarmac. I didn’t get back to surfing until I was an adult and could drive. Ultimately, I became a surf instructor for which I have been for many years throughout the coast of Clare and the West Coast of Ireland. 

 <br> <br>
 

 I have been lucky enough to surf with excellent surfers throughout Ireland and Europe. This has allowed me to develop and become a more well-rounded surfer. As my surfing developed, I overcame more than I ever thought I would, and am constantly learning more. I completely attribute this to the supportive surfing community which champions every ability and effort. This is the kind of ethos we want to instill at  Celtic Surf School (no matter the level); teamwork makes the dream work. 


  <br> <br>


 

  At Celtic Surf School, my team and I want you to have some fun, let loose and enjoy being in a natural environment(catching a wave is a bonus).We want you to enjoy yourself and have a care-free adventure with the safety of experienced and qualified surf instructors/lifeguards. We will give you the time and experience we have learned over the years to help you become more comfortable in the ocean. 

  <br> <br>

  We hope here, at Celtic Surf School, that you will have a great experience in the ocean and learn how to catch some waves with us and our team 
  
 <br>
  <br>

Thanks for reading 
 <br>
  <br>

Kealan Murphy  
          </p>

          <a class="btn btn-green font_custom" href="{% url 'contact' %}" role="button">Surf and smile with us<i class="far fa-smile-beam ml-2"></i></a><i class=""></i>

          <hr class="my-5">

          <p class="font-weight-bold font_custom">Follow us on:</p>

          <!--Facebook-->
            <a href="#" class="mx-1 text-secondary" role="button"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/celticsurfschool/" class="mx-1 text-secondary" role="button"><i class="fab fa-instagram"></i></a>
          


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 mb-4 mb-md-0">

          <img src="{% static 'images/kealan.jpg' %}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>



   </div>
            </div>
        </div>
    </main>



 {% endblock %}