{% extends 'base.html' %}
{% load staticfiles %} 
{% block content %}

<form role="form" action="https://formspree.io/f/meqpwoao" method="POST">
    {% csrf_token %}
  


<div class="container z-depth-1 my-5 px-0 card">

  <!--Section: Content-->
  <section class="my-md-5"
    style="background-image: url('{% static 'images/van_contact.png'%}');   background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;">

    <div class="rgba-black-strong rounded p-5">

   
      <!-- Section heading -->
      <h1 class="text-center font-weight-bold text-white mt-3 mb-5 font_custom">Contact Us</h1>
      <h3 class="text-center font-weight-bold text-white mt-3 mb-5 font_custom"><a href="https://cozycal.com/my-booking-page">Click here to book a lesson</a></h3>
      <form class="mx-md-5" action="">

        <div class="row ">
          
          <div class="col-md-5 offset-md-1 mt-md-4 mb-4 white-text font_custom">

            <h1 class="font-weight-bold text-success font_custom">Address</h1>
            <h3 class="mb-0 text-white  font_custom">Celtic Surf School Spanish Point</h3>
            <h3 class="mb-0 text-white font_custom">The Van</h3>
            <h3 class="mb-0  text-white font_custom">Spanish Point</h3>
            <h3 class="mb-4 pb-2 text-white font_custom">Clare</h3>

            <h1 class="font-weight-bold font_custom text-success ">Phone</h1>
            <h3 class="mb-4 pb-2 text-white font_custom">089 277 0466</h3>

            <h1 class="font-weight-bold font_custom text-success ">Email</h1>
            <h3 class='text-white font_custom'>celticsurfschool@gmail.com</h3>

          </div>

          <div class="col-md-6 mb-4 ">

            <div class="btn-outline-light font_custom">

       

              <div class="card-body font_custom form-outline font-weight-bold mb-4">
                {% csrf_token %}
                {{ form.as_p }}

                    
              <button type="submit" input type="submit" class="font_custom btn btn-outline-success" data-mdb-ripple-color="dark">Submit</button>
              </div>
            </div>

          </div>
        </div>

      
</form>

  </section>
  <!--Section: Content-->


</div>

{% endblock %}