{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
 
<div class="container my-4">

    
        <hr>
    
        <p class="font-weight-bold"></p>

        <div class="row">
            <div class="col-md-12">
              <div id="mdb-lightbox-ui"></div>
              <div class="mdb-lightbox no-margin">
                <figure class="col-md-4">
                  <a href="{% static 'images/advanced.jpg' %}"  data-size="1600x1067">
                    <img src="{% static 'images/advanced.jpg' %}"  class="img-fluid">
                  </a>
                </figure>
                <figure class="col-md-4">
                  <a href="{% static 'images/groups.jpg' %}"  data-size="1600x1067">
                    <img src="{% static 'images/groups.jpg' %}"  class="img-fluid" />
                  </a>
                </figure>
                <figure class="col-md-4">
                  <a href="{% static 'images/rent.jpg' %}" data-size="1600x1067">
                    <img src="{% static 'images/rent.jpg' %}" class="img-fluid" />
                  </a>
                </figure>
                <figure class="col-md-4">
                  <a href="{% static 'images/lessons.jpg' %}"  data-size="1600x1067">
                    <img src="{% static 'images/lessons.jpg' %}"  class="img-fluid" />
                  </a>
                </figure>
                <figure class="col-md-4">
                  <a href="{% static 'images/car_1.jpg' %}" data-size="1600x1067">
                    <img src="{% static 'images/car_1.jpg' %}" class="img-fluid" />
                  </a>
                </figure>
                <figure class="col-md-4">
                  <a href="{% static 'images/car_2.jpg' %}"  data-size="1600x1067">
                    <img src="{% static 'images/car_2.jpg' %}"  class="img-fluid" />
                  </a>
                </figure>
                <figure class="col-md-4">
                  <a href="{% static 'images/car_3.jpg' %}"  data-size="1600x1067">
                    <img src="{% static 'images/car_3.jpg' %}"  class="img-fluid" />
                  </a>
                </figure>
                <figure class="col-md-4">
                  <a href="{% static 'images/gal_1.jpg' %}"  data-size="1600x1067">
                    <img src="{% static 'images/gal_1.jpg' %}"  class="img-fluid" />
                  </a>
                </figure>
                <figure class="col-md-4">
                  <a href="{% static 'images/gal_2.jpg' %}"  data-size="1600x1067">
                    <img src="{% static 'images/gal_2.jpg' %}"  class="img-fluid" />
                  </a>
                </figure>
              </div>
            </div>
          </div>
    
      </div>

  {% endblock %}