
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container my-5 py-5 z-depth-1 font_custom card">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left text-dark font_custom">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="{% static 'images/groups.jpg' %}" class="img-fluid" alt="">
            <a href="#">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0 font_custom">

          <h3 class="font-weight-bold text-secondary font_custom">Groups <i class="fab fa-angellist ml-2"></i></h3>
<br>
          <p class="text-dark">
Celtic Surf School caters for all groups; 
<br><br>
<ul> 
<li>Schools</li>
<li>Birthday parties</li>
<li>Corporate activities</li>
<li>Stags/Hens</li>
<li>Pre/Post-wedding</li>
<li>Family groups</li>
<li>Friend groups</li>
</ul>
Contact us for a booking of a group and we will ensure you have a great experience


          </p>

          <a class="btn btn-outline-secondary font_custom" data-mdb-ripple-color="dark"  href="{% url 'contact' %}" role="button">Contact us!<i class="fas fa-phone ml-2"></i></a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>

  {% endblock %}