{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container my-5 py-5 z-depth-1 text-dark font_custom card">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left text-dark font_custom">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="{% static 'images/advanced.jpg' %}" class="img-fluid" alt="">
            <a href="#">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0 font_custom">

          <h3 class="font-weight-bold text-secondary">Private/Advanced Lessons <i class="fab fa-angellist ml-2"></i></h3>

          <p class="text-dark">
              These lessons are for surfers that have accomplished beginner lessons and want to progress to more challenging opportunities. Examples of areas to develop include how to surf the green part of the wave, going down the line and learning advanced turns. 
              <br><br>
              Our instructors are all experienced surfers and have techniques to help you hone your skill. We, at Celtic Surf School, will try and enhance your strengths and help you use them to your advantage to get you catching more waves. Depending on your ability and the conditions, the instructor will pick a board most suited to you. Patience, motivation and analysis are the best and fastest way to progress your wave riding ability. We provide all of this with our advanced/private lessons.
              <br>
          </p>

          <a class="btn btn btn-outline-secondary font_custom" data-mdb-ripple-color="dark"  href="{% url 'contact' %}" role="button">Contact us!<i class="fas fa-phone ml-2"></i></a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>


{% endblock %}