{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container my-5 py-5 z-depth-1 card font_custom">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left text-dark font_custom">

      <!--Grid row-->
      <div class="row ">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="{% static 'images/rent.jpg' %}" class="img-fluid" alt="">
            <a href="#">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold font_custom text-secondary">Rent a board <i class="fab fa-angellist ml-2"></i></h3>

          <p class="text-dark font_custom">
              <br>
       Fancy giving it a go yourself? Come down to Spanish Point Beach and rent a board. Feeling a bit chilly, then rent a wetsuit and boots too!
       <br>
       Rentals are available for 2 hours. We will give you our best tips; showing you all the best spots. Any questions, just ask! We hope you have a great experience here with us at Celtic Surf School.
       <br>
       <br>
       <p>
       <b>
           Wetsuit and boots:  €15<br>
           Board: €15 <br>
           Wetsuit: boots and board: €25
       </b>
          </p>
      
        </p>

          <a class="btn btn-outline-secondary font_custom" data-mdb-ripple-color="dark" href="{% url 'contact' %}" role="button">Contact us!<i class="fas fa-phone ml-2"></i></a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>


  {% endblock %}