
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container my-5 py-5 z-depth-1 font_custom">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text font_custom">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
          <div >
                  <br>  
<h3 class="font-weight-bold font_custom">Adult Camps <i class="fab fa-angellist ml-2"></i></h3>
          <br>
          <p class="text-muted">

        Age Range: WHATEVER+ <br>
        We run the following options for the adult camp:<br>

        <ul>
        <li>Monday – Wednesday €90 per person</li>
        <li>Thursday - Saturday €90 per person</li>
        </ul>
            <br>
        The course involves beach safety, new equipment, experienced instructors as well as the lessons. 
        All you need is a towel, your swimming gear and a smile. 
              </p>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0 font_custom">

          <h3 class="font-weight-bold font_custom">Kids Camps <i class="fab fa-angellist ml-2"></i></h3>
          <br>  
        
          <br>
          <p class="text-muted">
              
        Age Range: ??? <br>
        We run the following options for the kids camp:<br>

        <ul>
        <li>Monday – Wednesday €70 per child</li>
        <li>Thursday - Saturday €70 per child</li>
        </ul>
            <br>
(If you would like a little longer, there is also the option to do them back to back.)
<br>
The course involves beach safety, new equipment, experienced instructors as well as the lessons. All you need is a towel, your swimming gear and a smile. We aim to help the kids get comfortable in the sea, make new friends, play some games and catch wave.

          </p>
 
    
          <a class="btn btn-outline-info font_custom" data-mdb-ripple-color="dark" href="{% url 'contact' %}" role="button">Contact us!<i class="fas fa-phone ml-2"></i></a> 

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>

  {% endblock %}