
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container my-5 py-5 z-depth-1 font_custom">

 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left text-dark font_custom">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

          <!--Image-->
          <div >
               
<h3 class="font-weight-bold font_custom text-secondary">Camps <i class="fab fa-angellist ml-2"></i></h3>
          <br>
          <p class="text-dark">


        We run the following options for the camps:<br>

        <ul>
        <li>Monday – Wednesday €70 per person</li>
        <li>Thursday - Saturday €70 per person</li>
        </ul>
            <br>
        The course involves beach safety, new equipment, experienced instructors as well as the lessons. 
        All you need is a towel, your swimming gear and a smile. 
              </p>
          </div>
  <a class="btn btn-outline-secondary font_custom" data-mdb-ripple-color="dark" href="{% url 'contact' %}" role="button">Contact us!<i class="fas fa-phone ml-2"></i></a> 
        </div>
        <!--Grid column-->

        <!--Grid column-->
    
 
    
        

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>

  {% endblock %}