
.nav-item {font-size: 20px;
color: #6200EA !important;}

.font_link  { color:#1bbc47;
  text-decoration:none;
  }
  
  font_link:hover {
  color:#6200EA;
  text-decoration : none;
  }

.search {font-size: 14px;}

.category {font-size: 18px}

/*Categories in the dropdown */
.navbar .dropdown-menu a {font-size: 18px !important}

.item {color: #6200EA !important;}


.nav-hobby {
    
    font-size: 30px;
    padding-top: 0;
    padding-bottom: 10px;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-default { margin : 0 !important; 
color: #4B0ABE !important;}

.indigo {
    color: #4B0ABE !important;
}

.text-indigo {color: #4B0ABE !important;}

.nocolour { background: #ffffff;}

.gradient-noticeboard {
  /* fallback for old browsers */
  background: #4B0ABE;

}

.notice_text {font-family: 'Architects Daughter', cursive;}


.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}



.gradient-custom {
   /* fallback for old browsers */
background: url(../images/water3jpg.jpg); 
}
.title {
font-family: 'Indie Flower', cursive;}



body { padding-top: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    width: 100%;
    font-size: 18px;}

.carousel-image {height: 400px;}

.icon {color: #4B0ABE !important}

.hh-button {background-color: #1d9ce5 !important}


@media only screen and (max-width: 600px) {
    body { padding-top: 0px;}
   .mobile {margin-left: 5px!important;
    margin-right: 0!important;}
    .font_custom {font-family: 'Yanone Kaffeesatz', sans-serif !important;}
}


.feature {color: #1d9ce5;}

/*Find Hobby page */
.image_space { margin-left: 10px;}

/*Detail page */
.quantity {
    padding-top: 2em;
}

/*Home page */
.quote{
    font-size: 15px;
}
 
  h1 {
    letter-spacing: 8px;
  }

  h5 {
    letter-spacing: 3px;
  }

/*Line at the end of the content*/
  .hr-light {
    border-top: 3px solid rgb(33, 103, 233);
    width: 80px;
  }

  /*Buttons*/
  .btn {font-size: 14px}

  /*Card shown in Hobby_products and Category*/
.hobby_image {
    height: 300px;   
}

.card-img-top{
    height:100%;
}

/*Image in details.html.*/
.detail_image{
height: 300px; 
}

.card{
    background-color: #ffffff !important
}

.hover:hover {
  background-color: yellow !important;
  color: red;
}

.board {
 
  display: flex;
  justify-content: center;
}
